window.COMMA_URL_ROOT = '${COMMA_URL_ROOT}';
window.USERADMIN_URL_ROOT = '${USERADMIN_URL_ROOT}';
window.GOOGLE_REDIRECT_LINK = '${GOOGLE_REDIRECT_LINK}';
window.GITHUB_REDIRECT_LINK = '${GITHUB_REDIRECT_LINK}';
