window.COMMA_URL_ROOT = '${COMMA_URL_ROOT}';
window.USERADMIN_URL_ROOT = '${USERADMIN_URL_ROOT}';
window.GOOGLE_REDIRECT_LINK = '${GOOGLE_REDIRECT_LINK}';
window.GITHUB_REDIRECT_LINK = '${GITHUB_REDIRECT_LINK}';
window.DEMO_AUTH_TOKEN = '${DEMO_AUTH_TOKEN}';
window.ATHENA_URL_ROOT = '${ATHENA_URL_ROOT}';
window.BILLING_URL_ROOT = '${BILLING_URL_ROOT}';
window.MAPBOX_STYLE = '${MAPBOX_STYLE}';
window.MAPBOX_TOKEN = '${MAPBOX_TOKEN}';
